<a href="https://colab.research.google.com/github/selinbilginay/DataScience/blob/main/A_03_DataCleaningMissingValues_en_ipynb_adl%C4%B1_not_defterinin_kopyas%C4%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=blue>Assignments for "Data Cleaning - Missing Values"</font>

In this assignment, you are going to use a dataset related to the US education system. Please download the ([dataset](https://www.kaggle.com/noriuk/us-education-datasets-unification-project/home)) from Kaggle. You are going to use `states_all.csv` within this dataset.

To complete this assignment, submit the Github link of the Jupyter notebook file containing solutions to the questions below. You can talk to your mentor on your head or ask Slack at office time.

**(1)** Find the types of variables in the dataset and the missing (null) ratio of each variable.

In [3]:
import pandas as pd
import numpy as np
states_all = pd.read_csv("/content/states_all.csv")
states_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [17]:
states_all

             PRIMARY_KEY  ... AVG_READING_8_SCORE
0           1992_ALABAMA  ...                 NaN
1            1992_ALASKA  ...                 NaN
2           1992_ARIZONA  ...                 NaN
3          1992_ARKANSAS  ...                 NaN
4        1992_CALIFORNIA  ...                 NaN
...                  ...  ...                 ...
1710       2019_VIRGINIA  ...               262.0
1711     2019_WASHINGTON  ...               266.0
1712  2019_WEST_VIRGINIA  ...               256.0
1713      2019_WISCONSIN  ...               267.0
1714        2019_WYOMING  ...               265.0

[1715 rows x 25 columns]

In [47]:
states_all.isnull().sum()*100/states_all.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          28.629738
TOTAL_REVENUE                    0.000000
FEDERAL_REVENUE                 25.655977
STATE_REVENUE                   25.655977
LOCAL_REVENUE                   25.655977
TOTAL_EXPENDITURE               25.655977
INSTRUCTION_EXPENDITURE         25.655977
SUPPORT_SERVICES_EXPENDITURE    25.655977
OTHER_EXPENDITURE               28.629738
CAPITAL_OUTLAY_EXPENDITURE      25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
GRADES_ALL_G                     4.839650
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
AVG_READING_8_SCORE             67.230321
dtype: float64

In [34]:
indices=np.where(np.isnan(states_all.ENROLL))[0].tolist()
states_all.YEAR[indices]

0       1992
1       1992
2       1992
3       1992
4       1992
        ...
1710    2019
1711    2019
1712    2019
1713    2019
1714    2019
Name: YEAR, Length: 491, dtype: int64

**(2)** You may have noticed that our data has a year column. For now, forget about the year data and assume that each observation was made in the same year. Consider how you can fill in missing values for each variable. Filling in the missing values with a value is meaningful for which variables and for which ones?

In [ ]:
#I would fill the missing values with the mean of each states.

**(3)** Now it's time to consider the factor of time! Review your answer in question 2 and fill in the missing data based on the values observed during that year. For example, if you want to fill a value with an average value, calculate the average of that year.

In [35]:
states_all.nunique()

PRIMARY_KEY                     1715
STATE                             53
YEAR                              33
ENROLL                          1224
TOTAL_REVENUE                   1274
FEDERAL_REVENUE                 1275
STATE_REVENUE                   1251
LOCAL_REVENUE                   1275
TOTAL_EXPENDITURE               1275
INSTRUCTION_EXPENDITURE         1275
SUPPORT_SERVICES_EXPENDITURE    1275
OTHER_EXPENDITURE               1222
CAPITAL_OUTLAY_EXPENDITURE      1275
GRADES_PK_G                     1483
GRADES_KG_G                     1613
GRADES_4_G                      1612
GRADES_8_G                      1620
GRADES_12_G                     1608
GRADES_1_8_G                    1020
GRADES_9_12_G                   1070
GRADES_ALL_G                    1629
AVG_MATH_4_SCORE                  50
AVG_MATH_8_SCORE                  57
AVG_READING_4_SCORE               43
AVG_READING_8_SCORE               39
dtype: int64

In [42]:
states_all["TOTAL_REVENUE"].fillna(states_all["TOTAL_REVENUE"].mean(),inplace=True)
#i tried to fill na according to year but i couldnt find a proper solution so i fill them with overall average.

**(4)** This time, fill in the missing values by interpolating.

In [48]:
states_all.OTHER_EXPENDITURE.interpolate(method='linear',limit_direction='forward')

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
1710    53570.0
1711    53570.0
1712    53570.0
1713    53570.0
1714    53570.0
Name: OTHER_EXPENDITURE, Length: 1715, dtype: float64

**(5)** Compare your answers on the second, third and fourth questions. Do you notice a meaningful difference?

In [ ]:
#with fill na all the missing data are covered but with interpolation since it fill the data with the average between two values, there are still missing values in our data.